*,
*::after,
*::before {
  @include box-sizing(border-box);
}

html { // stylelint-disable-line selector-no-type
  @include text-size(default);
}

body { /* stylelint-disable-line selector-no-type */
  @include font-smoothing;
  font-family: $font-family-primary;
  color: $base-text-color;
  background-color: $base-bg-color;
  position: relative;
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.main-content {
  padding-top: 90px;

  @include media(desktop up) {
    padding-top: 105px;
  }
}

.container {
  @include site-container();
}
