$icon--youtube-icon: '\e903';
$icon--linkedin-icon: '\e904';
$icon--facebook-icon: '\e905';
$icon--instagram-icon: '\e906';
$icon--calendar-icon: '\e900';
$icon--phone-icon: '\e901';
$icon--mail-icon: '\e902';